/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f8f8f8;
    color: #333;
  }
  
  /* Header styles */
  h1 {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* Paragraph styles */
  p {
    margin: 1rem auto;
    padding: 0 1rem;
    text-align: justify;
    width: 50%;
    font-size: 1.2em;
  }
  
  /* Link styles */
  a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #007bff;
  }
  
  /* Debugging message styles */
  .browsehappy {
    background-color: #ffc107;
    color: #333;
    padding: 1rem;
    text-align: center;
  }
  